/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* common css start */

* {
  margin: 0;
  padding: 0;
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #575757;
  box-sizing: border-box;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

/* common css end */

.header-container {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.devconf-logo img {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin-right: 24px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}

.nav-btn {
  padding: 14px 45px;
  background-color: #1D4ED8;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 10px;
}