/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* common css start */

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #575757;
  box-sizing: border-box;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

/* common css end */

.header-container {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.devconf-logo img {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin-right: 24px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}

.btn {
  padding: 14px 45px;
  background-color: #1D4ED8;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 10px;
  transition: .3s;
}

.btn:hover {
  background-color: #0636ba;   
}
/* hero css  */

#hero {
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(./assets/banner.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero-container {
  height: 90vh;
  padding: 100px 0 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* gap: 250px; */
}

.hero-content-container h1 {
    font-size: 60px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 15px;
}

.hero-content-container h1 span {
    font-size: 60px;
    font-weight: 800;
    color: #fff;
    font-style: italic;
}
 
.hero-content-container p {
  width: 50%;
  color: #fff;
  margin: 0 auto;
}

/* speakers section */

.s-contairner, .pricing-container, .cta {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container {
  text-align: center;
}

.title-container h2 {
    font-size: 45px;
    font-weight: 800;
    color: #000102;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
  margin-top: 50px;
}

.subtitle {
  font-size: 14px;
  font-weight: 600;
  color: #2563EB;
}

.speakers {
  border: 1px solid #E5E7EB;
  border-radius: 12px;
}

.speakers img {
  width: 100%;
  border-radius: 12px 12px 0 0;
}

.speakers-content {
  padding: 25px;
}

.speakers h3 {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 700;
  color: #0D1B2A;  
}

/* pricing section css  */

.title-container p {
  padding-top: 10px;
}

.pricing-item-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 25px;
}

.pricing-item {
  width: 340px;
  padding: 30px;
  border: 1px solid #E5E7EB;
  border-radius: 12px; 
}

.pricing-item ul {
    list-style-position: inside;
}

.pricing-item h3 {
  margin-top: 8px;
  font-size: 45px;
  font-weight: 700;
  color: #0D1B2A;
}

.pricing-item-divider {
  margin: 20px 0;
  height: 1px;
  border: none;
  background-color: #E5E7EB;
}

.pricing-item li::marker {
  color: #2563EB;
}

.pricing-item button {
  width: 100%;
  margin-top: 20px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #2563EB;
  border-radius: 8px;
  font-weight: 600;
  color: #2563EB;
}

.p-item-1 .subtitle, .p-item-3 .subtitle {
  color: #888888;
}

.p-item-2 {
  background-color: #0D1B2A;
}
.p-item-2 .subtitle {
  color: #93C5FD;
}

.p-item-2 h3 {
  color: #fff;
}

.p-item-2 p, .p-item-2 ul li  {
  color: #FFFFFF80;
}

.p-item-2 button {
  border: none;
  background-color: #2563EB;
  color: #fff;
}

.p-item-3 {
  background-color: #F8F9FB;
}

.p-item-3 button {
  background: transparent;
  border: 1px solid #0D1B2A;
  color: #0D1B2A;
}

/* cta section css */

.cta-container {
  margin: 0 auto;
  padding: 50px;
  width: 70%;
  background-color: #0D1B2A;
  border-radius: 15px;
}

.cta-container .title-container h2, .cta-container .title-container p {
  color: #fff;
}

.cta-btn-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cta-btn-2 {
  background: transparent;
  border: 1px solid #ffffff;
  color: #FFFFFF;
}

.cta-btn-2:hover {
  border: 1px solid #FFFFFF80;
  background-color: #FFFFFF20;  
}


/* footer section css  */

#footer {
  background-color: #0D1B2A;
}

.footer {
  padding: 25px 0;
}

.footer-container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  width: 100%;
}


.footer-social-icons i {
   font-size: 20px;
   color: #FFFFFF80;
   margin-left: 8px;
}

.footer-divider {
  margin: 20px 0;
  height: 1px;
  border: none;
  background-color: #FFFFFF80;
}

.copyright-container {
  text-align: center;
}

.copyright-container p {
    color: #FFFFFF80;
}